/venv/
/__pycache__/
/.idea/
/*.pb/
/*.tsv
/*.txt
/*.csv
/notebooks/*.pb
/notebooks/temp_ckpt
/notebooks/*.onnx
/*.wav
/*.gz
/venv
/checkpoints/
/.DS_Store
*.pth
*.pyc
*.ipynb_checkpoints
*.txt
*.egg-info
__pycache__